* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}
section {
  width: 100vw;
}
.half {
  height: 50vw;
  width: 50vw;
}
.block {
  display: block;
}
.none {
  display: none;
}